<%= form_for(@man_man) do |f| %>
  <% if @man_man.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@man_man.errors.count, "error") %> prohibited this man_man from being saved:</h2>

      <ul>
      <% @man_man.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
